.form{
    position: fixed;
    width: 700px;
    height: 300px;
    padding: 10px;
    /* border: 3px solid #147d43; */
    /* background-color: #d4fce6; */
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -350px;
    border: 1px solid blue;
    padding-right: 30px;
    padding-bottom: 40px;
}

.add-user-form{
    z-index: 9999;
    background-color: #fdfdfd;
    height: auto !important;
}

.add-user-form{
    margin-bottom: 20px;
}

.add-user-close-button-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-top: 20px;
}

.close-button-icon:hover{
    cursor: pointer;
}