.form{
    position: fixed;
    width: 700px;
    height: 300px;
    padding: 10px;
    /* border: 3px solid #147d43; */
    /* background-color: #d4fce6; */
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -350px;
    border: 1px solid blue;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.add-user-form{
    z-index: 9999;
    background-color: #fdfdfd;
}